.editor-simply-featured-video__dropzone {
    position: relative;
}

.editor-simply-featured-video__container > * {
    margin-bottom: 1em;
}

.editor-simply-featured-video__container > *:last-child {
    margin-bottom: 0;
}

.editor-simply-featured-video .components-button {
    display: block;
}

.editor-simply-featured-video .editor-simply-featured-video__toggle {
    border-radius: 2px;
    background-color: #f0f0f0;
    min-height: 90px;
    line-height: 20px;
    padding: 8px 0;
    text-align: center;
}

.editor-simply-featured-video .editor-simply-featured-video__toggle:hover {
    background: #ddd;
    color: #1e1e1e;
}

.editor-simply-featured-video .editor-simply-featured-video__toggle {
    display: block;
    width: 100%;
    padding: 0;
    transition: all .1s ease-out;
    box-shadow: 0 0 0 0 var(--wp-admin-theme-color);
}
